<div class="row">
	<div class="col-md-3">
		<h3>Contacts</h3>
		
		<div class="block-contact" class="list-group">
		  <div class="col-sm-3" id="imgCnt">
		  	<img src="/images/cnt.jpg" alt="Scott Stevens" class="img-responsive img-circle" >
		  </div>	
		  <div class="col-sm-9" id="textCnt">
				  <a href="#" class="list-group-item" >Dapibus ac facilisis</a>
		  </div>
		</div>
		





	</div>

	<div class="col-md-6" >
		<div id="profileContainer">

			<div class="col-md-2">
					  		<div class="thumbnail" >
					  			<img src="/images/cnt.jpg" alt="...">
					  		</div>
			</div>

			<h3 class="info-post">Raul Jimenez</h3>
			<h4 class="info-post">22/09/2016</h4>
			<div class="content-post">  	
						  	<p>
						  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						  	</p>
			</div>


		</div>

		

		
	</div>

	<div class="col-md-3">
		<div class="profileContainer">
			<ul class="list-group">
			  <li class="list-group-item">
			    <span class="badge">14</span>
			    Cras justo odio
			  </li>
			  <li class="list-group-item">
			    <span class="badge">1</span>
			    Erick dwuedbwiud
			  </li>
			  <li class="list-group-item">
			    <span class="badge">5</span>
			    efwk 3345 Osvaldo
			  </li>
			  <li class="list-group-item">
			    <span class="badge">0</span>
			    prepifneoirfoer
			  </li>
			  <li class="list-group-item">
			    <span class="badge">9</span>
			    ejrhbfebf eb frufiuerb
			  </li>
			   <li class="list-group-item">
			    <span class="badge">0</span>
			    prepifneoirfoer
			  </li>
			  <li class="list-group-item">
			    <span class="badge">9</span>
			    ejrhbfebf eb frufiuerb
			  </li>
			</ul>

		</div>
	</div>

</div>